@import '/src/assets/sass/variables.scss';
@import '/src/assets/sass/helpers.scss';

:host{
  display: block;
  box-shadow: 0px 0px 10px 2px rgba(black, 0.2);
  background-color: white;
  position: relative;
  z-index: 2000;

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
      height: 52px;
    }

    .site{
      display: flex;
      align-items: center;
      .link{
        display: block;
        @include text-bold;
        color: $color-text;
        margin-left: 25px;
        padding: 25px 7px 22px 7px;
        border-bottom: 3px solid transparent;
        transition: border-bottom .3s ease-in-out, color .5s ease-in-out;
        &:first-child{margin-left: 0px}
        &:hover, &--active{
          text-decoration: none;
          border-bottom: 3px solid $color-secondary;
          color: $color-secondary;
        }
      }
      .close{
        display: none;
      }
      @include media(medium) {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 3000;
        flex-direction: column;
        justify-content: center;
        background-color: $color-accent;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition: transform .7s ease-in-out;
        .link{margin-left: 0px;}

        .close{
          position: absolute;
          right: 10px;
          top: 10px;
          background-color: $color-error;
          border: none;
          border-radius: 50%;
          appearance: none;
          width: 35px;
          height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 20px;
        }

        &--open{
          transform: translateX(0%);
        }
      }
      @include media(small) {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 3000;
        flex-direction: column;
        justify-content: center;
        background-color: $color-accent;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition: transform .7s ease-in-out;
        .link{margin-left: 0px;}

        .close{
          position: absolute;
          right: 10px;
          top: 10px;
          background-color: $color-error;
          border: none;
          border-radius: 50%;
          appearance: none;
          width: 35px;
          height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 20px;
        }

        &--open{
          transform: translateX(0%);
        }
      }
    }

    .menu{
      display: none;
      @include media(medium) {display: block}
      @include media(small) {display: block}
    }
  }
}
